<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Comments (3)</h3>
						<%= image_tag 'wave.svg', class: 'wave', alt: 'wave' %>
					</div>
<div class="about-author p-4 my-4 rounded">
					<div class="thumb">
						<%= image_tag 'other/avatar-about.png', alt: 'katen-deo' %>
					</div>
					<div class="details">
						<h4 class="name"><%= @article.user.username %></h4>
						<p><%= @article.user.userbio %></p>
							<!-- social icons -->
							<ul class="social-icons list-unstyled list-inline mb-0">
								<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
					</div>
				</div>

