					<div class="comments bordered p-4 my-4 rounded">

						<ul class="comments">
							<!-- comment item -->
							<li class="comment rounded">
								<div class="thumb">
									<%= image_tag 'other/comment-1.png', alt: 'john doe' %>
								</div>
								<div class="details">
									<h4 class="name"><a href="#">John Doe</a></h4>
									<span class="date">Jan 08, 2021 14:41 pm</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae odio ut tortor fringilla cursus sed quis odio.</p>
									<a href="#" class="btn btn-default btn-sm">Reply</a>
								</div>
							</li>
							<!-- comment item -->
							<li class="comment child rounded">
								<div class="thumb">
									<%= image_tag 'other/comment-2.png', alt: 'john doe' %>
								</div>
								<div class="details">
									<h4 class="name"><a href="#">Helen Doe</a></h4>
									<span class="date">Jan 08, 2021 14:41 pm</span>
									<p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
									<a href="#" class="btn btn-default btn-sm">Reply</a>
								</div>
							</li>
							<!-- comment item -->
							<li class="comment rounded">
								<div class="thumb">
									<%= image_tag 'other/comment-3.png', alt: 'john doe' %>
								</div>
								<div class="details">
									<h4 class="name"><a href="#">Anna Doe</a></h4>
									<span class="date">Jan 08, 2021 14:41 pm</span>
									<p>Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
									<a href="#" class="btn btn-default btn-sm">Reply</a>
								</div>
							</li>
						</ul>
					</div>

					<div class="section-header">
						<h3 class="section-title">Leave Comment</h3>
						<%= image_tag 'wave.svg', class: 'wave', alt: 'wave' %>
					</div>
					<!-- comment form -->
					<div class="comment-form rounded bordered padding-30">
						<form id="comment-form" class="comment-form" method="post">				
							<div class="messages"></div>
							<div class="row">
								<div class="column col-md-12">
									<!-- Comment textarea -->
									<div class="form-group">
										<textarea name="InputComment" id="InputComment" class="form-control" rows="4" placeholder="Your comment here..." required="required"></textarea>
									</div>
								</div>

								<div class="column col-md-6">
									<!-- Email input -->
									<div class="form-group">
										<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email address" required="required">
									</div>
								</div>

								<div class="column col-md-6">
									<!-- Name input -->
									<div class="form-group">
										<input type="text" class="form-control" name="InputWeb" id="InputWeb" placeholder="Website" required="required">
									</div>
								</div>
	
								<div class="column col-md-12">
									<!-- Email input -->
									<div class="form-group">
										<input type="text" class="form-control" id="InputName" name="InputName" placeholder="Your name" required="required">
									</div>
								</div>
							</div>
							<button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-sm">Submit</button>
							<!-- Submit Button -->	
						</form>
					</div>

