<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">Dashboard</a>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
        <i class="bi-search" style="font-size: 1rem;"></i>
      </button>
    </li>
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi-list" style="font-size: 1rem;"></i>
      </button>
    </li>
  </ul>

  <div id="navbarSearch" class="navbar-search w-25 collapse m-auto">
    <input class="form-control w-100 border-0 px-3 py-2" type="text" placeholder="Search" aria-label="Search">
  </div>
  <div class="dropdown me-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'dropdown-item' %>
        </li>
        <li>
          <%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
